@tailwind base;
@tailwind components;
@tailwind utilities;

/* font importing */
@font-face {
  font-family: "SolaimanLipi";
  src: url("./fonts/solaimanlipi.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

body,
html {
  font-family: "SolaimanLipi";
  color: rgb(30, 41, 59);
  scroll-behavior: smooth;
}

.shadow_common {
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

.bg-navbar {
  background-color: #013c57;
}

.transition_common {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* active route */
.active {
  background-color: #74010d;
}

/* swiper js style overwrites */
.swiper-pagination-bullet-active {
  background-color: rgb(22, 22, 22) !important;
}

.swiper-button-prev {
  color: #fff !important;
  transform: scale(0.7);
}

.swiper-button-next {
  color: #fff !important;
  transform: scale(0.7);
}

.container_header {
  background-image: linear-gradient(120deg, #0245af 0%, #138cdc 100%);
}

/* Scrollbar controller */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
